@import "tailwindcss";

/* :root {
  --color-orange: hsl(26, 100%, 55%);
  --color-Pale-orange: hsl(25, 100%, 94%);
  --color-orange: hsl(26, 100%, 55%);
  --color-orange: hsl(26, 100%, 55%);
  --color-orange: hsl(26, 100%, 55%);
  --color-orange: hsl(26, 100%, 55%);
  --color-orange: hsl(26, 100%, 55%);
}

*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
} */
